<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated bridgemodel -->
      <package
            uri="http://net/bauhaus-luftfahrt/oida/bridgemodel"
            class="bridgemodel.BridgemodelPackage"
            genModel="model/bridgemodel.genmodel"/>
   </extension>

</plugin>
