<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated oida -->
      <package
            uri="http://net/bauhaus-luftfahrt/oida/ontologyMgr"
            class="oida.ontologyMgr.OntologyMgrPackage"
            genModel="model/oida.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated oida -->
      <package
            uri="http://net/bauhaus-luftfahrt/oida/ontology"
            class="oida.ontology.OntologyPackage"
            genModel="model/oida.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated oida -->
      <package
            uri="http://net/bauhaus-luftfahrt/oida/bridgemodel"
            class="bridgemodel.BridgemodelPackage"
            genModel="model/oida.genmodel"/>
   </extension>

</plugin>
