<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="oida.bridge.model.renamerstrategy" name="Model Renamer Strategy" schema="schema/oida.bridge.model.renamerstrategy.exsd"/>
   <extension-point id="oida.bridge.recommender" name="Recommender Extension point" schema="schema/oida.bridge.recommender.exsd"/>
   <extension-point id="oida.bridge.model.structuringstrategy" name="Structural Strategy" schema="schema/oida.bridge.model.structuringstrategy.exsd"/>

</plugin>
