<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="oida.bridge.model.structuringstrategy">
      <client
            class="net.bhl.oida.cdt.strategy.OpenCDTStructuringStrategy">
      </client>
   </extension>
   <extension
         point="oida.bridge.model.renamerstrategy">
      <client
            class="net.bhl.oida.cdt.strategy.OpenCDTRenamerStrategy">
      </client>
   </extension>
   <extension
         point="net.bhl.oida.bridge.ui.e4.uiarrangements">
      <client
            class="net.bhl.cdt.oida.ui.OpenCDTOIDAUIArrangements">
      </client>
   </extension>
</plugin>
