<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="oida.ontology.managerFactory.owl"
         name="OWL Manager Factory"
         point="oida.ontology.managerFactory">
      <managerFactory
            class="oida.ontology.owl.manager.OwlOntologyManagerFactory">
      </managerFactory>
   </extension>

</plugin>
