<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.emf.parsley"
            class="oida.bridge.ui.ClassHierarchyView.ClassHierarchyViewExecutableExtensionFactory:oida.bridge.ui.view.ClassHierarchyView"
            id="oida.bridge.ui.view.ClassHierarchyView"
            name="Class Hierarchy"
            restorable="true">
      </view>
      <view
            category="org.eclipse.emf.parsley"
            class="oida.bridge.ui.ObjectPropertyHierarchyView.ObjectPropertyHierarchyViewExecutableExtensionFactory:oida.bridge.ui.view.ObjectPropertyHierarchyView"
            id="oida.bridge.ui.view.ObjectPropertyHierarchyView"
            name="Object Property"
            restorable="true">
      </view>
      <view
            category="org.eclipse.emf.parsley"
            class="oida.bridge.ui.RecommendationsView.RecommendationsViewExecutableExtensionFactory:oida.bridge.ui.view.RecommendationsView"
            id="oida.bridge.ui.RecommendationsView"
            name="OIDA Recommendations"
            restorable="true">
      </view>
      <view
            category="org.eclipse.emf.parsley"
            class="oida.ontology.ui.view.ClassEquivalenceMappingsView.ClassEquivalenceMappingsViewExecutableExtensionFactory:oida.bridge.ui.view.ClassEquivalenceMappingsView"
            id="oida.bridge.ui.view.ClassEquivalenceMappingsView"
            name="Class-Equivalence Mappings"
            restorable="true">
      </view>
      <view
            category="org.eclipse.emf.parsley"
            class="oida.bridge.ui.RecommendationFormView.RecommendationFormViewExecutableExtensionFactory:oida.bridge.ui.view.RecommendationFormView"
            id="oida.bridge.ui.RecommendationFormView"
            name="Recommendation"
            restorable="true">
      </view>
   </extension>
   <extension
         id="oida.bridge.ui.e4.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
   </extension>
</plugin>
