<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="oida.ontolog.ui.e4.dataprovider" name="OIDA UI Data Provider" schema="schema/oida.ontolog.ui.e4.dataprovider.exsd"/>
   <extension
         id="oida.ontology.ui.e4.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.emf.parsley"
            class="oida.ontology.ui.e4.E4ExecutableExtensionFactory:oida.ontology.ui.e4.OntologyLibraryView"
            id="oida.ontology.ui.e4"
            name="Ontology Library"
            restorable="true">
      </view>
   </extension>
</plugin>
