<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="oida.ontology.ui.e4.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.emf.parsley"
            class="oida.ontology.ui.OntologyLibraryView.OntologyLibraryViewExecutableExtensionFactory:oida.ontology.ui.view.OntologyLibraryView"
            id="oida.ontology.ui.view.OntologyLibraryView"
            name="Ontology Library"
            restorable="true">
      </view>
      <view
            category="org.eclipse.emf.parsley"
            class="oida.ontology.ui.OntologyManagerView.OntologyManagerViewExecutableExtensionFactory:oida.ontology.ui.view.OntologyManagerView"
            id="oida.ontology.ui.view.OntologyManagerView"
            name="Ontology Manager"
            restorable="true">
      </view>
      <view
            category="org.eclipse.emf.parsley"
            class="oida.ontology.ui.ClassesView.ClassesViewExecutableExtensionFactory:oida.ontology.ui.view.ClassesView"
            id="oida.ontology.ui.view.OntologyView"
            name="Classes"
            restorable="true">
      </view>
      <view
            category="org.eclipse.emf.parsley"
            class="oida.ontology.ui.IndividualsView.IndividualsViewExecutableExtensionFactory:oida.ontology.ui.view.IndividualsView"
            id="oida.ontology.ui.view.IndividualsView"
            name="Individuals"
            restorable="true">
      </view>
      <view
            category="org.eclipse.emf.parsley"
            class="oida.ontology.ui.NamespacesView.NamespacesViewExecutableExtensionFactory:oida.ontology.ui.view.NamespacesView"
            id="oida.ontology.ui.view.NamespacesView"
            name="NamespacesView"
            restorable="true">
      </view>
      <view
            category="org.eclipse.emf.parsley"
            class="oida.ontology.ui.ObjectPropertyView.ObjectPropertyViewExecutableExtensionFactory:oida.ontology.ui.view.ObjectPropertiesView"
            id="oida.ontology.ui.view.ObjectPropertyView"
            name="Object Properties"
            restorable="true">
      </view>
      <view
            category="org.eclipse.emf.parsley"
            class="oida.ontology.ui.IndividualView.IndividualViewExecutableExtensionFactory:oida.ontology.ui.view.IndividualView"
            id="oida.ontology.ui.view.IndividualView"
            name="Individual"
            restorable="true">
      </view>
   </extension>
</plugin>
